<header class="row u-full-width">
  <!-- navigation is one-third column -->
  <h1 class="one-third column"><b>dot</b>ons</h1>
  <div class="one-third column">
    <a href="/login">login</a> / <a href="/signup">register</a>
  </div>
  {{> navigation}}
</header>
