<header class="row u-full-width">
  {{> navigation}}
  <!-- navigation is one-third column -->
  <h1 class="one-third column"><b>dot</b>ons</h1>
  <div class="one-third column">
    login/signup
  </div>
</header>
