<header class="row u-full-width">
  <!-- navigation is one-third column -->
  <a class="header-title" href="/"><h1 class="one-third column"><b>dot</b>ons</h1></a>
  <div class="one-third column">
    {{#if user}}
      <a href="/profile">profile</a>
    {{else}}
      <a href="/login">login</a> / <a href="/signup">register</a>
    {{/if}}
    
    
  </div>
  
  {{> navigation}}
  {{> flash }}
</header>
