<nav class="one-third column">
  <a href="/designer" class="navbar-item">dot-designer</a>
  <a href="#" class="navbar-item">about</a>
  <a href="#" class="navbar-item">contact</a>
  {{#if user}}
    <a href="/users/{{user._id}}" class="pure-menu-link">Profile</a>
  {{/if}}
</nav>
