<div class="container">
  <div class="pure-g">
    
    <div class="pure-u-md-1-6">&nbsp;</div>
    <div class="pure-u-1 pure-u-md-1-6">
      <h1>Admin Area</h1>
      
    </div>
    
    <div class="pure-u-md-1-6">&nbsp;</div>
    
  </div>
  
  <div class="pure-g">
    
    <div class="pure-u-md-1-6">&nbsp;</div>
    <div class="pure-u-1 pure-u-md-1-6">

      <h2>Users</h2>
      <a href="/users" class="pure-button pure-button-primary"><p>Number of users: {{userCount}}</p></a>
      
    </div>
    <div class="pure-u-1 pure-u-md-1-6">
      <h2>Designs</h2>
      <a href="/designs" class="pure-button pure-button-primary"><p>Number of designs: {{dotCount}}</p></a>
    </div>
     
    <div class="pure-u-1 pure-u-md-1-6">

      <h2>Orders</h2>
      <a href="/orders" class="pure-button pure-button-primary"><p>Orders that needs shipping: {{nonShippedCount}}</p></a>
      
    </div>
    <div class="pure-u-1 pure-u-md-1-6">
      </div>
    
  </div>


</div>
