
<div class="container">
  <div class="pure-g">
    <div class="pure-u-md-1-4">
      &nbsp;
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
    <h2>Your cart</h2>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-md-1-4">
      &nbsp;
    </div>
    <div class="pure-u-1 pure-u-md-1-2 cart-info">
      {{#if cart}}
       <form name="order" action="/orders/create" method="POST" class="pure-form">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        
        <div class="pure-g order-item-header">
          <div class="pure-u-1 pure-u-md-1-4">
            &nbsp;
          </div>
          <div class="pure-u-1 pure-u-md-1-4">
            <h5>Select sizes</h5>
          </div>
          <div class="pure-u-1 pure-u-md-1-4">
            <h5>Select quantities</h5>
          </div>
          <div class="pure-u-1 pure-u-md-1-4">
            <h5>Total price</h5>  
          </div> 
        </div>
        
        {{#each cart}}
        <div class="pure-g order-item">
          <div class="pure-u-1 pure-u-md-1-4">
             <img src="" height="50px" width="50px" class="hidden" data-image-url="{{design.imageUrl}}" />
          </div>
          <div class="pure-u-1 pure-u-md-1-4">
            <div><label for="10mm">10mm</label><input type="checkbox" {{#if 10mm.ordered}}checked{{/if}} name="10mm" class="checkbox-10mm"></div>
            <div><label for="11mm">11mm</label><input type="checkbox" {{#if 11mm.ordered}}checked{{/if}} name="11mm" class="checkbox-11mm"></div>
          </div>
          <div class="pure-u-1 pure-u-md-1-4">
            <div><input type="number" name="10mm-quantity" value="{{10mm.quantity}}" min="1000" class="quantity-10mm"></div>
            <div><input type="number" name="11mm-quantity" value="{{11mm.quantity}}" min="1000" class="quantity-11mm"></div>
          </div>
          <div class="pure-u-1 pure-u-md-1-4">

            <div><span class="price-10mm">{{10mm.price}} kr</span></div>
            <div><span class="price-11mm">{{11mm.price}} kr</span></div>  
          </div>
        </div>
        {{/each}}       
         
        <button type="submit" class="pure-button">Place order</button>
      <form>
      {{else}}
        <p>There are no dots in your cart..</p>
      {{/if}}
      </div>
  </div>
        <!--<table class="pure-table">
          <thead>
            <tr>
              <th></th>
              <th>Size</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {{#each cart}}
            <tr>
              <td>
                <img src="" height="50px" width="50px" class="hidden" data-image-url="{{design.imageUrl}}" />
              </td>
              <td>
                <div><label for="10mm">10mm</label><input type="checkbox" {{#if selected10mm}}checked{{/if}} name="10mm" class="checkbox-10mm"></div>
                <div><label for="11mm">11mm</label><input type="checkbox" {{#if selected11mm}}checked{{/if}} name="11mm" class="checkbox-11mm"></div>

              </td>
            
              <td>
                
              </td>
              <td>
                <p class="totalPrice"></p>
              </td>
            </tr>
            
            {{/each}}
            
          </tbody>

        </table>-->
</div>