

<div class="pure-g" style="float: none">
  
  <div class="pure-u-1 pure-u-md-1-3">
    <h1>Dots</h1>
    {{#each dots}}
      <div>
        <h3>{{name}}</h3>
        <p>{{imageUrl}}</p>
      </div>
    {{/each}}
      </div>

</div>
