<form id="uploadForm"
         enctype="multipart/form-data"
         action="/designer/upload"
         method="post">
      <input type="file" name="dot-design" />
      <input type="submit" value="Upload Image" name="submit" id="upload-submit">
      <span id = "status"></span>
