<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-3"></div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div id="designer-area">
      <div id="controls-area">
        <button class="pure-button" id="undo">&#8630;</button>
        <button class="pure-button" type="button" id="center-image"><span><b>&#8728;</b></span></button>
        <button class="pure-button" id="redo">&#8631;</button>
      </div>
      <div id="canvas-area">
        <canvas id="canvas"></canvas>
      </div>
      <div class="upload-area">
        <form id="upload-form"
                enctype="multipart/form-data"
                action="/designer/upload"
                method="post" name="designer">
              <input type="file" name="dot-design" id="dot-design"/>
              <input type="submit" class="pure-button" value="Upload Image" name="upload" id="upload-submit" />
              <span id = "status"></span>

          <input type="submit" class="pure-button" value="Save Image" name="save" id="save-submit" class="hidden" />
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.0/fabric.min.js"></script>
  <script src="javascripts/designer.js"></script>
</div>
