{{> imageSlider}}
<div class="container">
  <div id="main">
    <div class="pure-g">
      <div class="pure-u-md-1-3 product">
        <img class="scale-with-grid" src="/images/dotons-product.png" alt="dotons product" />
        <div class="product-price">55.-</div>
      </div>
      <div class="pure-u-md-1-3 product">
        <img class="scale-with-grid" src="/images/dotons-product.png" alt="dotons product" />
        <div class="product-price">55.-</div>
      </div>
      <div class="pure-u-md-1-3 product">
        <img class="scale-with-grid" src="/images/dotons-product.png" alt="dotons product" />
        <div class="product-price">55.-</div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-md-1-3 product">
        <img class="scale-with-grid" src="/images/dotons-product.png" alt="dotons product" />
        <div class="product-price">55.-</div>
      </div>
      <div class="pure-u-md-1-3 product">
        <img class="scale-with-grid" src="/images/dotons-product.png" alt="dotons product" />
        <div class="product-price">55.-</div>
      </div>
      <div class="pure-u-md-1-3 product">
        <img class="scale-with-grid" src="/images/dotons-product.png" alt="dotons product" />
        <div class="product-price">55.-</div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="pure-g">
      <div class="pure-u-md-1-4">
        Lorem ipsum dolor sit amet, duo detraxit inciderint ut. Cu ius cibo vitae, minim dicant consulatu ad ius. Quo ut offendit consulatu persequeris. Malis epicurei oportere cum ex, has ut enim instructior, justo accusamus signiferumque ad vel.
        Nec et ferri maluisset scripserit, sed id sale magna partem. Nam at paulo audiam, ne sed quodsi persequeris, duo assum affert repudiare ne. Et quando consequuntur duo, quas mollis hendrerit per ut. Ignota minimum nec ne, ne affert homero mandamus pro. Mediocrem dignissim sea ad, causae percipit sea no, ius te summo falli.
      </div>
      <div class="pure-u-md-1-4">
        Lorem ipsum dolor sit amet, duo detraxit inciderint ut. Cu ius cibo vitae, minim dicant consulatu ad ius. Quo ut offendit consulatu persequeris. Malis epicurei oportere cum ex, has ut enim instructior, justo accusamus signiferumque ad vel.

        Nec et ferri maluisset scripserit, sed id sale magna partem. Nam at paulo audiam, ne sed quodsi persequeris, duo assum affert repudiare ne. Et quando consequuntur duo, quas mollis hendrerit per ut. Ignota minimum nec ne, ne affert homero mandamus pro. Mediocrem dignissim sea ad, causae percipit sea no, ius te summo falli.

        Ludus neglegentur his in. Ne mei nominavi mnesarchum. Nihil offendit pertinacia usu eu, aliquam theophrastus eos id. Viderer antiopam duo at.
      </div>
      <div class="pure-u-md-1-4">
        Lorem ipsum dolor sit amet, duo detraxit inciderint ut. Cu ius cibo vitae, minim dicant consulatu ad ius. Quo ut offendit consulatu persequeris. Malis epicurei oportere cum ex, has ut enim instructior, justo accusamus signiferumque ad vel.

        Nec et ferri maluisset scripserit, sed id sale magna partem. Nam at paulo audiam, ne sed quodsi persequeris, duo assum affert repudiare ne. Et quando consequuntur duo, quas mollis hendrerit per ut. Ignota minimum nec ne, ne affert homero mandamus pro. Mediocrem dignissim sea ad, causae percipit sea no, ius te summo falli.

        Ludus neglegentur his in. Ne mei nominavi mnesarchum. Nihil offendit pertinacia usu eu, aliquam theophrastus eos id. Viderer antiopam duo at.
      </div>
      <div class="pure-u-md-1-4">
        Lorem ipsum dolor sit amet, duo detraxit inciderint ut. Cu ius cibo vitae, minim dicant consulatu ad ius. Quo ut offendit consulatu persequeris. Malis epicurei oportere cum ex, has ut enim instructior, justo accusamus signiferumque ad vel.

        Nec et ferri maluisset scripserit, sed id sale magna partem. Nam at paulo audiam, ne sed quodsi persequeris, duo assum affert repudiare ne. Et quando consequuntur duo, quas mollis hendrerit per ut. Ignota minimum nec ne, ne affert homero mandamus pro. Mediocrem dignissim sea ad, causae percipit sea no, ius te summo falli.

      </div>
    </div>
  </div>
</div>
