{{> test}}
<div id="layout">
  <header class="row">
    <nav class="one-third column">
      <div class="navbar-item">about</div>
      <div class="navbar-item">about</div>
      <div class="navbar-item">about</div>
    </nav>
    <h1 class="one-third column">dotons</h1>
    <div class="one-third column">
      login/signup
    </div>
  </header>
  <div id="main">
    <div class="row">
      <div class="twelve columns">
        <div class="image-slider">
          <h4 class="middle">
            image-slider
          </h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="one-third column product">
          <img class="scale-with-grid" src="/images/dotons-product.png"></img>
          <div class="product-price">55.-</div>
        </div>
        <div class="one-third column product">
          <img class="scale-with-grid" src="/images/dotons-product.png"></img>
          <div class="product-price">55.-</div>
        </div>
        <div class="one-third column product">
          <img class="scale-with-grid" src="/images/dotons-product.png"></img>
          <div class="product-price">55.-</div>
        </div>
      </div>
      <div class="row">
        <div class="one-third column product">
          <img class="scale-with-grid" src="/images/dotons-product.png"></img>
          <div class="product-price">55.-</div>
        </div>
        <div class="one-third column product">
          <img class="scale-with-grid" src="/images/dotons-product.png"></img>
          <div class="product-price">55.-</div>
        </div>
        <div class="one-third column product">
          <img class="scale-with-grid" src="/images/dotons-product.png"></img>
          <div class="product-price">55.-</div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="row">
        <div class="three columns">
          Lorem ipsum dolor sit amet, duo detraxit inciderint ut. Cu ius cibo vitae, minim dicant consulatu ad ius. Quo ut offendit consulatu persequeris. Malis epicurei oportere cum ex, has ut enim instructior, justo accusamus signiferumque ad vel.
Nec et ferri maluisset scripserit, sed id sale magna partem. Nam at paulo audiam, ne sed quodsi persequeris, duo assum affert repudiare ne. Et quando consequuntur duo, quas mollis hendrerit per ut. Ignota minimum nec ne, ne affert homero mandamus pro. Mediocrem dignissim sea ad, causae percipit sea no, ius te summo falli.
        </div>
        <div class="three columns">
          Lorem ipsum dolor sit amet, duo detraxit inciderint ut. Cu ius cibo vitae, minim dicant consulatu ad ius. Quo ut offendit consulatu persequeris. Malis epicurei oportere cum ex, has ut enim instructior, justo accusamus signiferumque ad vel.

Nec et ferri maluisset scripserit, sed id sale magna partem. Nam at paulo audiam, ne sed quodsi persequeris, duo assum affert repudiare ne. Et quando consequuntur duo, quas mollis hendrerit per ut. Ignota minimum nec ne, ne affert homero mandamus pro. Mediocrem dignissim sea ad, causae percipit sea no, ius te summo falli.

Ludus neglegentur his in. Ne mei nominavi mnesarchum. Nihil offendit pertinacia usu eu, aliquam theophrastus eos id. Viderer antiopam duo at.
        </div>
        <div class="three columns">
          Lorem ipsum dolor sit amet, duo detraxit inciderint ut. Cu ius cibo vitae, minim dicant consulatu ad ius. Quo ut offendit consulatu persequeris. Malis epicurei oportere cum ex, has ut enim instructior, justo accusamus signiferumque ad vel.

Nec et ferri maluisset scripserit, sed id sale magna partem. Nam at paulo audiam, ne sed quodsi persequeris, duo assum affert repudiare ne. Et quando consequuntur duo, quas mollis hendrerit per ut. Ignota minimum nec ne, ne affert homero mandamus pro. Mediocrem dignissim sea ad, causae percipit sea no, ius te summo falli.

Ludus neglegentur his in. Ne mei nominavi mnesarchum. Nihil offendit pertinacia usu eu, aliquam theophrastus eos id. Viderer antiopam duo at.
        </div>
        <div class="three columns">
          Lorem ipsum dolor sit amet, duo detraxit inciderint ut. Cu ius cibo vitae, minim dicant consulatu ad ius. Quo ut offendit consulatu persequeris. Malis epicurei oportere cum ex, has ut enim instructior, justo accusamus signiferumque ad vel.

Nec et ferri maluisset scripserit, sed id sale magna partem. Nam at paulo audiam, ne sed quodsi persequeris, duo assum affert repudiare ne. Et quando consequuntur duo, quas mollis hendrerit per ut. Ignota minimum nec ne, ne affert homero mandamus pro. Mediocrem dignissim sea ad, causae percipit sea no, ius te summo falli.

        </div>
      </div>
    </div>
  </div>
  <footer>
    about dotons
    <br />
    facebook image
  </footer>
</div>


<script type="text/javascript" src="javascripts/app.js"></script>
