<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen" title="no title" charset="utf-8">
    
  </head>
  <body>
    {{#if notAdmin}}
      {{> header}}
    {{else}}
      {{> adminNav}}
    {{/if}}

    {{{body}}}
    {{#if user}}
    <!-- stupid handlebars with no logial not operator... -->
    {{else}}
      {{> loginModal }}
    {{/if}}
    <script type="text/javascript" src="javascripts/app.js"></script>
  </body>
</html>
