<div class="row">
  <div class="one-third column">
    &nbsp;
  </div>
  <div class="one-third column login">
    <h2>Log in</h2>
    <form class="login-form pure-form" action="/login" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="">
        <input type="email" placeholder="Email" name="email" value="user@user.com"></input>
      </div>
      <div class="">
        <input type="password" placeholder="Password" name="password" value="hej"></input>
      </div>
      <button type="submit" class="pure-button">Log in</button>
    </form>
  </div>
  <div class="one-third column">
    &nbsp;
  </div>
</div>
