<form action="/login" method="POST">
  <input type="email" name="email" value="user@user.com"></input>
  <input type="password" name="password" value="hej"></input>
  <button type="submit">Log in</button>
</form>
