<div class="pure-g">
  <h2>Create an order</h2>
  <form class="pure-form order-form" action="/order/create" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">



    <div>
      <button type="submit">Signup</button>
    </div>
  </form>


</div>
