<div class="row">
  <div class="one-third column">
    &nbsp;
  </div>
  <div class="one-third column sign-up">
    <h2>signup</h2>
    <form action="/signup" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" value="">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" value="">
      </div>
      <div>
        <label for="role">Account Type</label>
        <select name="role">
          {{#each roles}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>

      </div>
      <div>
        <button type="submit">Signup</button>
      </div>
    </form>

  </div>
  <div class="one-third column">
    &nbsp;
  </div>
</div>
