#designer-area {
    width: 100%;
    height: 100%;
}

#designer-area {
    width: 640px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
}

#canvas-area {
    width: 640px;
    height: 400px;
}

#center-image {
    background-color: #448AFF;
}

#undo {
    background-color: #448AFF;
}

#redo {
    background-color: #448AFF;
}

#center-image:hover, #undo:hover, #redo:hover {
    background-color: rgba(48, 108, 235, 1);
    cursor: pointer;
}

#controls-area {
    width: 100%;
    padding: 0;
}

.designer-button {
    position: relative;
    display: inline-block;
    height: 60px;
    border-radius: 0;
    color: white;
}

canvas {
    position: relative;
    margin: 0 auto;
}

.upload-area {
    background-color: rgba(98, 168, 255, 1);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
    height: 50px;
}

.upload-label {
    background-color: blue;
    height: 50px;
    width: 100%;
}

.upload-label span {
    float: left;
    height: 50px;
    color: white;
    width: 50%;
    background-color: rgba(98, 168, 255, 1);
    border-radius: 0;
    line-height: 35px;
}

.upload-label span:hover {
    float: left;
    height: 50px;
    color: white;
    width: 50%;
    background-color: rgba(98, 168, 255, 1);
    border-radius: 0;
}

#upload-submit, #save-submit {
    display: inline-block;
    width: 50%;
    height: 50px;
    float: right;
    color: white;
    background-color: rgba(98, 168, 255, 1);
    border-radius: 0;
}

#upload-submit {

}

#save-submit {

}

#upload-submit:hover, #save-submit:hover, .upload-label span:hover {
    background-color: rgba(48, 108, 235, 1);
}

#dot-design {
    display: none;
}