* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 14px "Raleway", Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
  height: 100px;
}

.header-title {
  color: black;
  text-decoration: none;
}

a {
  color: #00B7FF;
}

.scale-with-grid {
  outline: 0;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.product img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active {
  background: #eee;
}

.product {
  padding: 10px;
}

.product img {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.image-slider {
  position: relative;
  background-image: url("/images/slider-image.png");
  background-position: center 53.513513513514%;
  height: 500px;
  text-align: center;
  vertical-align: middle;
}

.image-slider h4 {
  vertical-align: middle;
  line-height: 500px;
}

.middle {
  vertical-align: middle;

}

.about {
  text-align: center;
  font-size: 1.2rem;
}

/**************************************/
/***** HEADER                  ********/
/**************************************/


.logo {
}

nav {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: inherit;
}

.navbar-item {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 30%;
  height: inherit;
  vertical-align: middle;
  line-height: 100px;
}

.login, .add-to-cart {
  text-align: center;
  position: relative;
  width: 100%;
}

.info {
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 0.75em;
  text-align:justify;
  text-justify:inter-word;
}

.info h5 {
  font-size: 1.5em;
}

.sign-up {
  text-align: center;
  position: relative;
  width: 100%;
}

.hidden {
  display: none !important;
}

.account-type {
  margin-top: 30px;
}

.signup-form input {
  margin: 0 auto;
}

#role-selection-first {
  background: red;
  color: rgba(0, 0, 0, 0.6);
}

#designs {
  text-align: center;
}

.design {
  margin-top: 50px;
}

.design .image-container {
  margin: 0 auto;
  padding: 25px 0;
  width: 30%;
  height: 150px;
}

.design img {
  background: white;
  margin-bottom: -8px;
}

.dot-design-name {
  font-size: 0.8em;
  text-align: center;
}

/*******************************************/
/*       Profile-info section              */
/*******************************************/
#profile-description {

}

.account-info p {
  text-align: center;
}

#profile-description h1 {
  text-align: center;
}

/*******************************************/
/*       Admin section                     */
/*******************************************/

.settings-icon {
  font-size: 12em;
  width: 100px;

  float: right;
}

/***** TABLE RESPONSIVE FIX */
table {
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
  }

@media screen and (max-width: 600px) {

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }




/******************************************
   new-design is the New Design button on
   profile needs different name but naming sucks
/******************************************/
.new-design {
  text-align: center;
  position: relative;

}

.new-design:hover {
  color: rgba(1, 0, 0, 0.5);
}

.new-design img {
   height:200px;
   width:200px;
}

.new-design h3 {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
}


.new-design h3 span {
  color: white;
  font: bold 24px;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
/******************************************/
/** /cart css things                     **/
/******************************************/
.order-line {
  height: 80px;
  border-bottom: 1px solid black;
}

.order-line img {
  vertical-align: middle;
  height: 75px;
  width: 75px;
}


.order-line:last-child {
  border-bottom: none;
}

.cart-info {
  border: 1px solid black;
  padding: 20px;
}

.order-item {
  line-height: 25px;
}

.order-item input {
  width: 100px;
}

.order-item label, .order-item span {
  line-height: 30px;
  vertical-align: middle;
}

.order-item img {
  vertical-align: middle;
}





/******************************************/
/** PURE.CSS custom things               **/
/******************************************/
.button-xlarge {
  font-size: 125%;

}

/******************************************/
/** PURE.CSS MENU THINGY DINGY DING-DONG **/
/******************************************/

.custom-wrapper {
    background-color: white;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 7.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}


.custom-wrapper.open {
    height: 14em;
}


.custom-menu-3 {
    /*text-align: right;*/
}

.custom-brand {
  font-size: 3em;
  text-transform: lowercase;
  text-align: left;
  height: 120px;
}

.brand-logo {
  height: 120px;
  width: 100px;
  background-repeat: no-repeat;
  background-image: url("/images/logo.png");
  background-size: 70%;
  margin-top: -15px;
}


.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
    #admin-navigation {
      height: 100%;
      width: 100%;
      margin-top: 0px;
      position: relative;
    }
    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }
  .brand-logo {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url("/images/logo_small.png");
    background-size: 100%;
  }
  
  /**/
  .pure-u-hidden {
    display: none;
  }

}

/******************************************/
/** PURE.CSS MENU THINGY DINGY ENDS HERE **/
/******************************************/
