* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 14px "Raleway", Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
  height: 100px;
}

.header-title {
  color: black;
  text-decoration: none;
}

a {
  color: #00B7FF;
}

.scale-with-grid {
  outline: 0;
  max-width: 100%;
  height: auto;
}

.product {
  padding: 10px;
}

.product img {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.image-slider {
  position: relative;
  background-image: url("/images/slider-image.png");
  background-position: center 53.513513513514%;
  height: 500px;
  text-align: center;
  vertical-align: middle;
}

.image-slider h4 {
  vertical-align: middle;
  line-height: 500px;
}

.middle {
  vertical-align: middle;
}

.about {
  text-align: center;
  font-size: 1.2rem;
}


nav {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: inherit;
}

.navbar-item {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 30%;
  height: inherit;
  vertical-align: middle;
  line-height: 100px;
}

.login {
  text-align: center;
  position: relative;
  width: 100%;
}

.sign-up {
  text-align: center;
  position: relative;
  width: 100%;
}

.hidden {
  display: none !important;
}

.account-type {
  margin-top: 30px;
}

.signup-form input {
  margin: 0 auto;
}

#role-selection-first {
  background: red;
  color: rgba(0, 0, 0, 0.6);
}

#designs {
  text-align: center;
}

.design {
  margin-top: 10px;
}

/*******************************************/
/*       Profile-info section              */
/*******************************************/
#profile-description {
  
}

#profile-description h1 {
  text-align: center;
}


/*******************************************/
/*       Admin section                     */
/*******************************************/
#admin-navigation {
  
  text-align: left;
  background-color: dimgrey;

  
  
  



  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
}

.navigation {
  transition: width 0.3s ease;
}
#main-nav:target {
  width: 20%; 
}

#admin-navigation a {
  color: white;
}

#admin-navigation a:hover {
  background: lightslategrey;
}






/******************************************
   new-design is the New Design button on 
   profile needs different name but naming sucks
/******************************************/
.new-design {
  text-align: center;
  position: relative;
 
}

.new-design:hover {
  color: rgba(1, 0, 0, 0.5);
}

.new-design img {
   height:200px;
   width:200px;
}

.new-design h3 {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
}


.new-design h3 span {
  color: white;
  font: bold 24px;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}


/******************************************/
/** PURE.CSS custom things               **/
/******************************************/
.button-xlarge {
  font-size: 125%;
  
}

/******************************************/
/** PURE.CSS MENU THINGY DINGY DING-DONG **/
/******************************************/

.custom-wrapper {
    background-color: white;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 7.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    /*text-align: right;*/
}

.custom-brand {
  font-size: 3em;
  text-transform: lowercase;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
    #admin-navigation {
      height: 100%;
      width: 100%;
      margin-top: 0px;
      position: relative;
    }
    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}

/******************************************/
/** PURE.CSS MENU THINGY DINGY ENDS HERE **/
/******************************************/